services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    environment:
      - PORT=4000
    ports:
      - "4000:4000"

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:4000
    ports:
      - "3000:3000"
    depends_on:
      - api
